[user]
  name = Lee Olayvar
  email = leeolayvar@gmail.com
[alias]
  au = add -u
  co = checkout
  st = status --short
  cl = clone
  ci = commit
  co = checkout
  br = branch
  df = diff
  dc = diff --cached
  dfw = diff --word-diff
  dcw = diff --word-diff --cached
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
[core]
  editor = nvim
	excludesfile = ~/.gitignore_global
[push]
  default = simple
[color]
  diff        = true
  status      = true
  branch      = true
  interactive = auto
  ui          = true
  pager       = true
